### Q3 Which Pokemon can do the BIGGEST Damage?

The issue with this question is that each pokemon has 2 types. And their moves are roled on different stats depending on what type they are.

Eg. Fire -> Roles off Sp. Atk against Sp. Def (Special Type Moves)

Fighting -> Roles off Attack against Defense (Physical Type Moves)

Since each pokemon has 2 potential types we have 3 permutations. They can either be **pure physical (pp)**, **pure special (sp)** or **hybrid** (h).

A large component of this analysis was figuring out ways of how to slice data into these categories.

Furthermore, each pokemon has type advantage/weakness which multiplies it's stats against a said type. For sake of simplicity I assumed type advantage would multiply offensive stats by a factor of x2.

In [1]:
import numpy as np
import pandas as pd

In [57]:
df = pd.read_csv('modified.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144

In [ ]:
#What is the highest damage a pokeman can do?

In [14]:
#Issue is that pokemon have 2 types, either physical or special typesets
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

### Slicing of Data into 3 Subsets

In [45]:
#dfp =  physical primary typset
dfp = df[df['Type 1'].str.contains('Normal|Fighting|Flying|Ground|Rock|Bug|Ghost|Poison|Steel')]
dfpp = dfp[dfp['Type 2'].str.contains('Normal|Fighting|Flying|Ground|Rock|Bug|Ghost|Poison|Steel', na = False)]

In [60]:
#Purely Physical Pokemon
dfpp.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
11,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
12,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
13,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
14,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
15,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False

In [53]:
#Physical Hybrid Pokemon
dfph = dfp[~dfp['Type 2'].str.contains('Normal|Fighting|Flying|Ground|Rock|Bug|Ghost|Poison|Steel', na = False)]

In [85]:
dfph.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
10,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
18,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
19,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
22,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False

In [67]:
#dfs = special primary typeset
dfs = df[~df['Type 1'].str.contains('Normal|Fighting|Flying|Ground|Rock|Bug|Ghost|Poison|Steel')]
dfs.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144

In [71]:
dfps = dfs[~dfs['Type 2'].str.contains('Normal|Fighting|Flying|Ground|Rock|Bug|Ghost|Poison|Steel', na = False)]
dfps.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144
6,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,98
7,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,128
8,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,168

In [83]:
dfsh = dfs[dfs['Type 2'].str.contains('Normal|Fighting|Flying|Ground|Rock|Bug|Ghost|Poison|Steel', na = False)]
dfsh.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
5,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,193
42,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False,125

In [79]:
#checking if numbers tally
dfsh.count() + dfps.count() + dfpp.count() + dfph.count()

#             751.0
Attack        751.0
Defense       751.0
Generation    751.0
HP            751.0
Legendary     751.0
Name          751.0
Sp. Atk       751.0
Sp. Def       751.0
Speed         751.0
Strength        NaN
Total         751.0
Type 1        751.0
Type 2        375.0
dtype: float64

In [86]:
#combining hybrid DFs
dfh = pd.concat([dfph ,dfsh], sort = False)
dfh.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
9,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,NaN
10,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,NaN
18,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False,NaN
19,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False,NaN
22,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False,NaN

### Highest offensive potential and matching with lowest defensive potential (according to type strength)

A huge issue with this section was having to manually identify type strength and manually match with lowest def type.

In [96]:
dfpp.sort_values(by = ['Attack'], ascending = False).head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
702,681,AegislashBlade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,False
661,645,LandorusTherian Forme,Ground,Flying,600,89,145,90,105,80,91,5,True
469,464,Rhyperior,Ground,Rock,535,115,140,130,55,55,40,4,False
580,567,Archeops,Rock,Flying,567,75,140,65,112,65,110,5,False
602,589,Escavalier,Bug,Steel,495,70,135,105,60,105,20,5,False

In [99]:
#our friend aegislash is back. Steel and Ghost typeset. Steel strong vs Fairy and Ice, Ghost strong vs Ghost and Psychic
df.sort_values(by = ['Defense']).head(10)

#steel move vs Igglybuff
#ghost move vs Abra

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
445,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False,20
112,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,40
240,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False,85
170,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False,75
62,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False,125
172,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False,70
236,238,Smoochum,Ice,Psychic,305,45,30,15,85,65,65,2,False,115
347,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False,25
387,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,360
316,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,155

In [111]:
#if aegislash(blade forme) uses a steel move, damage calculated simply as attack * 2  - defense
df.iloc[702]['Attack'] * 2 - df.iloc[172]['Defense']

285

In [112]:
#if aegislash(blade forme) uses a ghost move, damage calculated simply as attack - defense
df.iloc[702]['Attack'] * 2 - df.iloc[62]['Defense']

285

In [109]:
#now for special typesets
dfps.sort_values(by = ['Sp. Atk'], ascending = False).head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
387,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,360
381,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True,330
749,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
664,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,True,290
149,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,264

In [113]:
#Deoxys (attack forme), Psychic-> fighting and poison.
#Kyogre Primal, Water -> fire, ground, rock
df.sort_values(by = ['Sp. Def']).head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
316,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,155
172,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False,70
128,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,25
387,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,360
9,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,50
12,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,55
291,293,Whismur,Normal,NaN,240,64,51,23,51,23,28,3,False,102
115,116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False,110
266,268,Cascoon,Bug,NaN,205,50,35,55,25,25,15,3,False,60
38,39,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False,90
684,664,Scatterbug,Bug,NaN,200,38,35,40,27,25,35,6,False,62
536,524,Roggenrola,Rock,NaN,280,55,75,85,25,25,15,5,False,100
13,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,50
264,266,Silcoon,Bug,NaN,205,50,35,55,25,25,15,3,False,60
10,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,45

In [114]:
#Deoxys vs Weedle, Sp. Def = 20
df.iloc[387]['Sp. Atk'] * 2 - df.iloc[12]['Sp. Def']

340

In [115]:
#Kyogre Primal vs Roggenrola, Sp. Def = 25
df.iloc[381]['Sp. Atk'] * 2 - df.iloc[536]['Sp. Def']

335

In [ ]:
#Deoxys wins DFPS cat

In [116]:
#now for DFH cat, I will take highest Attack and Sp. Atk
dfh.sort_values(by = ['Attack'], ascending = False).head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
383,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,NaN
412,409,Rampardos,Rock,NaN,495,97,165,60,65,50,58,4,False,NaN
287,289,Slaking,Normal,NaN,670,150,160,100,95,65,100,3,False,NaN
496,486,Regigigas,Normal,NaN,670,110,160,110,80,110,100,4,True,NaN
382,383,Groudon,Ground,NaN,670,100,150,140,100,90,90,3,True,NaN

In [117]:
dfh.sort_values(by = ['Sp. Atk'], ascending = False).head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
748,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260.0
383,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,NaN
384,384,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True,300.0
493,483,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True,NaN
657,642,ThundurusTherian Forme,Electric,Flying,580,79,105,70,145,80,101,5,True,250.0

In [119]:
#Groudon has 2 type sets Fire and Ground, which has higher potential damage?
#Groudon, Fire -> bug grass ice steel. Ground -> electric, fire, poison, rock, steel
#There are Hybrid typesets. 1 type mathes sp.def one matches def.
#Ground matches Def, Fire matches Sp. Def

df.sort_values(by = ['Defense']).head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
445,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False,20
112,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,40
240,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False,85
170,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False,75
62,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False,125
172,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False,70
236,238,Smoochum,Ice,Psychic,305,45,30,15,85,65,65,2,False,115
347,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False,25
387,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,360
316,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,155

In [120]:
#Groudon vs Pichu (Ground)
df.iloc[383]['Attack'] * 2 - df.iloc[170]['Defense']

345

In [121]:
df.sort_values(by = ['Sp. Def']).head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
316,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,155
172,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False,70
128,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,25
387,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,360
9,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,50
12,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,55
291,293,Whismur,Normal,NaN,240,64,51,23,51,23,28,3,False,102
115,116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False,110
266,268,Cascoon,Bug,NaN,205,50,35,55,25,25,15,3,False,60
38,39,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False,90

In [122]:
#Groudon vs Caterpie (Fire)
df.iloc[383]['Sp. Atk'] * 2 - df.iloc[9]['Sp. Def']

280

In [ ]:
#Groudon seems to be better off sticking to his ground type set for this challenge.`

In [123]:
#What about Hoopa Hoopa? Hybrid Psyhic Ghost
#Psychic -> fighting and poison. Ghost -> Ghost and Psychic

df.sort_values(by = ['Defense']).head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
445,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False,20
112,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,40
240,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False,85
170,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False,75
62,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False,125
172,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False,70
236,238,Smoochum,Ice,Psychic,305,45,30,15,85,65,65,2,False,115
347,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False,25
387,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,360
316,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,155

In [124]:
#again Abra. Hoopa Hoopa vs Abra (Defense)
df.iloc[748]['Attack'] * 2 - df.iloc[62]['Defense']

205

In [125]:
df.sort_values(by = ['Sp. Def']).head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
316,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,155
172,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False,70
128,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,25
387,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,360
9,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,50
12,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,55
291,293,Whismur,Normal,NaN,240,64,51,23,51,23,28,3,False,102
115,116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False,110
266,268,Cascoon,Bug,NaN,205,50,35,55,25,25,15,3,False,60
38,39,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False,90

In [126]:
#Weedle again, Hoopa vs Weedle (Sp. def)
df.iloc[748]['Sp. Atk'] * 2 - df.iloc[12]['Sp. Def']

280

### Results

In [ ]:
#HYBRID POKEMON
#Hoopa Hoopa max 280 with Sp. Atk (Ghost) against Weedle, Groudon Primal max 345 with Attack (Ground) against Pichu

#PURE PHYSICAL POKEMON
#Aegislash (Blade forme) max 285 with Attack (Ghost and Steel) against Ibblybuff and Abra

#PURE SPECIAL POKEMON
#Deoxys (Attack Forme) max 340 with Sp. Atk (Psychic) against Weedle

#Who does the most damage? Groudon Primal vs Pichu (345)