### Which Pokemon have the least number of weaknesses per generation?

In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('modified.csv', index_col = False)

In [4]:
tdf = pd.read_csv('type_advantage.csv')

In [18]:
df.head()

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Strength,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,114,1,False
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,142,1,False
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,182,1,False
3,3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,112,1,False
4,4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,144,1,False

In [20]:
df = df.drop(['Unnamed: 0'], axis = 1)

In [21]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Strength,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,114,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,142,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,182,1,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,112,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,144,1,False

In [64]:
tdf

,Type,Strong Against,SA Count,Weak Against,WA Count
0,Bug,"Dark, Grass, Psychic",3,"Fairy, Fighting, Fire, Flying, Ghost, Poison, ...",7
1,Dark,"Ghost, Psychic",2,"Dark, Fairy, Fighting",3
2,Dragon,Dragon,1,"Fairy, Steel",2
3,Electric,"Flying, Water",2,"Electric, Dragon, Grass, Ground",4
4,Fairy,"Dark, Dragon, Fighting",3,"Fire, Poison, Steel",3
5,Fighting,"Dark, Ice, Normal, Rock, Steel",5,"Bug, Ghost, Fairy, Flying, Poison, Psychic",6
6,Fire,"Bug, Grass, Ice, Steel",4,"Dragon, Fire, Rock, Water",4
7,Flying,"Bug, Fighting, Grass",3,"Electric, Rock, Steel",3
8,Ghost,"Ghost, Psychic",2,"Dark, Normal",2
9,Grass,"Ground, Rock, Water",3,"Bug, Dragon, Fire, Flying, Grass, Poison, Steel",7
10,Ground,"Electric, Fire, Poison, Rock, Steel",5,"Bug, Flying, Grass",3
11,Ice,"Dragon, Flying, Grass, Ground",4,"Fire, Ice, Steel, Water",4
12,Normal,None,1,"Ghost, Rock, Steel",3
13,Poison,"Fairy, Grass",2,"Ghost, Ground, Poison, Rock, Steel",5
14,Psychic,"Fighting, Poison",2,"Dark, Psychic, Steel",3
15,Rock,"Bug, Fire, Flying, Ice",4,"Fighting, Ground, Steel",3
16,Steel,"Fairy, Ice, Rock",3,"Electric, Fire, Steel, Water",4
17,Water,"Fire, Ground, Rock",3,"Dragon, Grass, Water",3

#### Here we attempty to identify which type of pokemon have the least WA

In [25]:
tdf['WA Count'].min()

2

In [27]:
tdf[tdf['WA Count'] == 2]

     Type  Strong Against  SA Count  Weak Against  WA Count
2  Dragon          Dragon         1  Fairy, Steel         2
8   Ghost  Ghost, Psychic         2  Dark, Normal         2

#### So we've identified Ghost and Dragon having only 2 weaknesses each.

We will now attempt to slice our DF accordingly. Logically speaking, now we know pokemon of pure Dragon and pure Ghost have the least weaknesses.

In [58]:
mask = (df['Type 1'] == 'Dragon') & (df['Type 2'].isnull())

In [59]:
df[mask]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Strength,Generation,Legendary
146,147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,114,1,False
147,148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,154,1,False
369,371,Bagon,Dragon,NaN,300,45,75,60,40,30,50,115,3,False
370,372,Shelgon,Dragon,NaN,420,65,95,100,60,50,50,155,3,False
623,610,Axew,Dragon,NaN,320,46,87,60,30,40,57,117,5,False
624,611,Fraxure,Dragon,NaN,410,66,117,70,40,50,67,157,5,False
625,612,Haxorus,Dragon,NaN,540,76,147,90,60,70,97,207,5,False
634,621,Druddigon,Dragon,NaN,485,77,120,90,60,90,48,180,5,False
726,704,Goomy,Dragon,NaN,300,45,50,35,55,75,40,105,6,False
727,705,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,158,6,False
728,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,210,6,False

In [60]:
mask = (df['Type 1'] == 'Ghost') & (df['Type 2'].isnull())

In [61]:
df[mask]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Strength,Generation,Legendary
198,200,Misdreavus,Ghost,NaN,435,60,60,60,85,85,85,145,2,False
351,353,Shuppet,Ghost,NaN,295,44,75,35,63,33,45,138,3,False
352,354,Banette,Ghost,NaN,455,64,115,65,83,63,65,198,3,False
353,355,Duskull,Ghost,NaN,295,20,40,90,30,90,25,70,3,False
354,356,Dusclops,Ghost,NaN,455,40,70,130,60,130,25,130,3,False
434,429,Mismagius,Ghost,NaN,495,60,60,60,105,105,105,165,4,False
482,477,Dusknoir,Ghost,NaN,525,45,100,135,65,135,45,165,4,False
575,562,Yamask,Ghost,NaN,303,38,30,85,55,65,30,85,5,False
576,563,Cofagrigus,Ghost,NaN,483,58,50,145,95,105,30,145,5,False

### Which team of pokemon is the most ideal, against any opponent?

In [66]:
pd.read_csv('by_type.csv')

,Type 1,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
0,Dragon,495.500000,517.192308,81.653846,105.884615,80.346154,87.269231,83.961538,78.076923,4.038462,0.346154,193.153846
1,Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,173.000000
2,Steel,468.000000,467.304348,64.608696,86.434783,116.391304,67.304348,78.130435,54.434783,4.043478,0.173913,153.739130
3,Psychic,395.846154,456.596154,69.673077,66.019231,66.596154,93.384615,83.711538,77.211538,3.519231,0.230769,159.403846
4,Fire,342.354167,445.041667,69.354167,81.125000,65.729167,84.645833,70.208333,73.979167,3.312500,0.104167,165.770833
5,Rock,394.414634,437.804878,64.536585,88.463415,99.756098,60.048780,73.073171,51.926829,3.487805,0.073171,148.512195
6,Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,152.218750
7,Electric,369.119048,436.309524,58.833333,68.333333,65.047619,87.166667,72.690476,84.238095,3.309524,0.095238,155.500000
8,Dark,479.000000,434.750000,67.178571,86.250000,67.928571,70.500000,67.500000,75.392857,4.178571,0.071429,156.750000
9,Ghost,504.000000,430.366667,64.600000,71.033333,81.433333,75.866667,75.633333,61.800000,4.333333,0.066667,146.900000
10,Ice,426.217391,427.086957,71.652174,70.695652,71.043478,75.695652,76.130435,61.869565,3.565217,0.086957,146.391304
11,Water,309.794393,422.018692,71.327103,71.794393,70.850467,73.261682,69.140187,65.644860,2.906542,0.037383,145.056075
12,Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,140.058824
13,Grass,352.575758,410.696970,66.500000,71.227273,68.984848,74.893939,68.484848,60.606061,3.409091,0.045455,146.121212
14,Fighting,362.720000,404.360000,70.240000,94.720000,64.280000,48.560000,63.680000,62.880000,3.360000,0.000000,143.280000
15,Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,135.107143
16,Normal,321.138298,394.372340,76.776596,72.329787,58.138298,54.691489,62.159574,70.276596,3.063830,0.021277,127.021277
17,Bug,346.338462,366.938462,56.076923,65.492308,68.692308,54.338462,63.015385,59.323077,3.323077,0.000000,119.830769

In [67]:
tdf['SA/WA ratio'] = tdf['SA Count'] / tdf['WA Count']

In [71]:
tdf.sort_values('SA/WA ratio', ascending = False)

,Type,Strong Against,SA Count,Weak Against,WA Count,SA/WA ratio
10,Ground,"Electric, Fire, Poison, Rock, Steel",5,"Bug, Flying, Grass",3,1.666667
15,Rock,"Bug, Fire, Flying, Ice",4,"Fighting, Ground, Steel",3,1.333333
17,Water,"Fire, Ground, Rock",3,"Dragon, Grass, Water",3,1.000000
4,Fairy,"Dark, Dragon, Fighting",3,"Fire, Poison, Steel",3,1.000000
6,Fire,"Bug, Grass, Ice, Steel",4,"Dragon, Fire, Rock, Water",4,1.000000
7,Flying,"Bug, Fighting, Grass",3,"Electric, Rock, Steel",3,1.000000
8,Ghost,"Ghost, Psychic",2,"Dark, Normal",2,1.000000
11,Ice,"Dragon, Flying, Grass, Ground",4,"Fire, Ice, Steel, Water",4,1.000000
5,Fighting,"Dark, Ice, Normal, Rock, Steel",5,"Bug, Ghost, Fairy, Flying, Poison, Psychic",6,0.833333
16,Steel,"Fairy, Ice, Rock",3,"Electric, Fire, Steel, Water",4,0.750000
14,Psychic,"Fighting, Poison",2,"Dark, Psychic, Steel",3,0.666667
1,Dark,"Ghost, Psychic",2,"Dark, Fairy, Fighting",3,0.666667
2,Dragon,Dragon,1,"Fairy, Steel",2,0.500000
3,Electric,"Flying, Water",2,"Electric, Dragon, Grass, Ground",4,0.500000
0,Bug,"Dark, Grass, Psychic",3,"Fairy, Fighting, Fire, Flying, Ghost, Poison, ...",7,0.428571
9,Grass,"Ground, Rock, Water",3,"Bug, Dragon, Fire, Flying, Grass, Poison, Steel",7,0.428571
13,Poison,"Fairy, Grass",2,"Ghost, Ground, Poison, Rock, Steel",5,0.400000
12,Normal,None,1,"Ghost, Rock, Steel",3,0.333333

In [101]:
sample_team = tdf.sample(n = 6)
sample_team['SA/WA ratio'].sum()

4.923809523809524

In [102]:
sample_team

,Type,Strong Against,SA Count,Weak Against,WA Count,SA/WA ratio
11,Ice,"Dragon, Flying, Grass, Ground",4,"Fire, Ice, Steel, Water",4,1.000000
0,Bug,"Dark, Grass, Psychic",3,"Fairy, Fighting, Fire, Flying, Ghost, Poison, ...",7,0.428571
9,Grass,"Ground, Rock, Water",3,"Bug, Dragon, Fire, Flying, Grass, Poison, Steel",7,0.428571
10,Ground,"Electric, Fire, Poison, Rock, Steel",5,"Bug, Flying, Grass",3,1.666667
13,Poison,"Fairy, Grass",2,"Ghost, Ground, Poison, Rock, Steel",5,0.400000
4,Fairy,"Dark, Dragon, Fighting",3,"Fire, Poison, Steel",3,1.000000

### Is there any difference between attack and def between pokemon with 1 type vs 2 types?

aka are pokemon with 2 types stronger than 1?

In [104]:
df = pd.read_csv('modified.csv')

In [105]:
mask = df['Type 2'].isnull()

In [107]:
df[mask].describe()

,Unnamed: 0,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Strength,Generation
count,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000
mean,356.066489,351.513298,406.962766,67.510638,73.422872,66.776596,66.989362,67.353723,64.909574,140.412234,3.260638
std,209.955534,203.151162,111.408503,28.250968,29.547149,27.183094,29.469621,27.132758,28.815872,48.382782,1.660889
min,3.000000,4.000000,180.000000,10.000000,5.000000,5.000000,10.000000,20.000000,5.000000,20.000000,1.000000
25%,167.500000,169.500000,310.000000,50.000000,51.750000,48.000000,45.000000,48.750000,44.750000,106.750000,2.000000
50%,357.500000,359.500000,405.000000,65.000000,70.000000,62.000000,62.000000,63.000000,60.000000,138.500000,3.000000
75%,529.250000,517.250000,490.000000,78.250000,92.750000,80.000000,85.000000,82.250000,85.000000,170.000000,5.000000
max,744.000000,716.000000,770.000000,255.000000,180.000000,200.000000,180.000000,200.000000,180.000000,360.000000,6.000000

In [109]:
mask = (df['Type 1'].notna()) & (df['Type 2'].notna())

In [111]:
df[mask].describe()

,Unnamed: 0,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Strength,Generation
count,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000,375.000000
mean,393.984000,387.981333,439.725333,69.832000,78.541333,76.725333,73.445333,72.872000,68.309333,151.986667,3.501333
std,222.387194,214.360402,112.214137,23.389084,30.112228,31.144338,30.740793,27.426511,26.767973,50.877459,1.675356
min,0.000000,1.000000,190.000000,1.000000,10.000000,15.000000,10.000000,20.000000,5.000000,20.000000,1.000000
25%,207.500000,209.500000,342.500000,53.500000,55.000000,52.000000,50.000000,54.500000,50.000000,115.000000,2.000000
50%,399.000000,396.000000,460.000000,68.000000,77.000000,72.000000,69.000000,70.000000,69.000000,150.000000,4.000000
75%,599.500000,586.500000,515.000000,85.000000,95.000000,95.000000,95.000000,90.000000,90.000000,181.000000,5.000000
max,750.000000,721.000000,770.000000,150.000000,180.000000,230.000000,170.000000,230.000000,160.000000,330.000000,6.000000